<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Requis en release : le manifeste de debug de Flutter la déclare, mais elle
         n'est PAS fusionnée dans le build release. Sans elle, aucune requête réseau. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Téléchargement en arrière-plan : le service de premier plan empêche Android
         de tuer le process pendant un transfert. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Notification de progression / fin de téléchargement (runtime à partir d'Android 13). -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Authentification biométrique (Empreinte digitale / Face ID). -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <!-- Découverte Smart TV Wi-Fi & DLNA Cast (Multicast SSDP). -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <!-- Uniquement pour l'export vers le dossier Téléchargements public sur Android 9
         et antérieur ; sans effet (et non demandée) à partir d'Android 10, où l'écriture
         passe par MediaStore. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>

    <application
        android:label="CHILLERS"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:supportsPictureInPicture="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Maintient le process vivant pendant un téléchargement (app en arrière-plan,
             écran éteint). Aucune logique de transfert ici : voir DownloadService côté Dart. -->
        <service
            android:name=".DownloadForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
